#section-2 {
	background-color: #F4F8FB;
	gap: 40px;
}

#section-2 h2 {
	flex-wrap: wrap;
	align-items: end;
	justify-content: center;
	gap: 15px;
	text-align: center;
	line-height: 30px;
}

@media (max-width: 500px) {
	#section-2 h2 > :first-child {
		flex: 100%;
	}

	#section-2 h2 label input+span {
		display: none;
	}
}

#section-2 label {
	position: relative;
	flex-direction: column;
	gap: 10px;
	font-size: 10px;
}

#section-2 label input {
	opacity: 0;
	position: absolute;
	bottom: 0;
}

#section-2 label #switch {
	justify-content: start;
	background-color: #000;
	width: 60px;
	height: 30px;
	border-radius: 30px;
	padding: 2.5px;
	cursor: pointer;
}

#section-2 label #switch::before {
	content: "";
	display: block;
	background-color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	transition: transform 0.2s;
}

#section-2 label input:checked ~ #switch::before {
	transform: translateX(30px);
}

#section-2 #convert-option {
	align-items: stretch;
	background-color: #fff;
	padding: 35px 20px;
	gap: 25px 20px;
	flex-wrap: wrap;
}

@media (max-width: 450px) {
	#section-2 #convert-option {
		flex-direction: column;
		padding: 20px 10px;
		gap: 20px;
	}
}

@media (min-width: 450px) and (max-width: 650px) {
	#section-2 #convert-option > :last-of-type {
		flex: 100%;
	}
}

#section-2 #convert-option > div {
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	text-align: center;
}

@media (max-width: 450px) {
	#section-2 #convert-option > div {
		gap: 20px;
	}
}

#section-2 #convert-option > hr {
	border: dashed #E1E1E1;
}

#section-2 #convert-option strong {
	font-size: 20px;
}

#section-2 #convert-option strong > span {
	color: #4385c9;
}

#section-2 #convert-footer {
	justify-content: space-between;
	width: min(100%, 600px);
}

#section-2 #convert-footer svg {
	width: 35px;
	height: 35px;
}

#section-2 #convert-footer > div {
	flex-wrap: wrap;
	text-align: center;
	gap: 15px;
	width: min-content;
}

#section-2 #convert-footer > div > span {
	width: max-content;
	font-weight: 500;
	color: #8C8C8C;
}

#section-2 #convert-footer > div > .flex {
	gap: 20px;
}