#section-4 {
	background-color: #F4F8FB;
}

#section-4 > p {
	font-size: clamp(17px, 0.982rem + 0.36vw, 20px);
	text-align: center;
	line-height: 45px;
}

#section-4 .grid > div:nth-child(1) {
	--icon: var(--icon-step-1);
}

#section-4 .grid > div:nth-child(2) {
	--icon: var(--icon-step-2);
}

#section-4 .grid > div:nth-child(3) {
	--icon: var(--icon-step-3);
}

#section-4 .grid > div:nth-child(4) {
	--icon: var(--icon-step-4);
	background-color: #000;
}

#section-4 .grid > div:nth-child(4) strong {
	color: #FFF !important;
}

#section-4 .grid > div:nth-child(4) p {
	color: #888;
}

#section-4 .grid > div::before {
	display: block;
	width: 40px;
	height: 40px;
}

#section-4 .grid > div strong {
	font-size: clamp(17px, 0.982rem + 0.36vw, 20px);
}
